body{
    /* background-color: #000000;
    color: white; */
    background-image: url(https://login.mailchimp.com/release/1.1.1bd1da62a87aaea30facf24e15447c5bb5d7c586e/images/brand_assets/illos/art-hero-flowers.png);
  
    
}
h1{
    color: white;
    background-color: rgba(128, 0, 128, 0.738);
    justify-self: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
li{
    
}
.crow{
    text-align: left ;
    color: purple;
    background-color: rgba(247, 242, 242, 0.786);
}